<h1 class="main_title">Entraînement !</h1>

    <section>
    <a href=""><img class="exo" src="assets/img/developpe-couche-halteres.jpg" alt="developpé_couché"></a>
    <a href=""><img class="exo" src="assets/img/exercices-biceps-curl.jpg" alt="curl_biceps"></a>
    <a href=""><img class="exo" src="assets/img/tirage-vertical-poitrine.png" alt="tirage-vertical-poitrine"></a>
    <a href=""><img class="exo" src="assets/img/presse-inclinée.png" alt="presse-inclinée"></a>
    <a href=""><img class="exo" src="assets/img/leg-extension.png" alt="leg-extension"></a>
    <a href=""><img class="exo" src="assets/img/elevations-latérales.png" alt="elevations-latérales"></a>
    </section>